<div class="px-5" *ngFor="let category of categories">
  <p class="text-white text-2xl">{{category.name}}</p>
  <swiper
    [navigation]="true"
    [slidesPerView]="7"
    [slidesPerGroup]="4"
    [spaceBetween]="10"
    [pagination]="{
      type: 'progressbar'
    }"
    [freeMode]="true"
    class="mySwiper bg-transparent"
  >
    <ng-template *ngFor="let src of category.data" swiperSlide>
      <div class="slide-container ">
        <img src="{{ src }}" alt="" class="bg-transparent" />
      </div>
    </ng-template>
  </swiper>
</div>
